<header>
  <%= link_to "キャリアリハーサル", root_path %>
  <% if user_signed_in? %>
    <p><%= link_to "新規投稿", new_post_path %></p>
    <p><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></p>
  <% else %>
    <p><%= link_to "新規登録", new_user_registration_path %></p>
    <p><%= link_to "ログイン", new_user_session_path %></p>
  <% end %>
  <%= link_to '商品検索', search_posts_path%>
</header>