<%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
<%= render partial: "header" %>
<h3><%= link_to '商品検索', search_posts_path%></h3>
<div class="post-container">
  <% @posts.each do |post| %>
    <div class="post">
      <% if post.video.attached? %>
        <p><%= video_tag(rails_blob_path(post.video), controls: true) %></p>
      <% end %>
      <h2 class="post-title"><%= post.title %></h2>
      <p><%= post.description %></p>
      <p class="industry"><%= post.industry.name %></p>
      <p><%= link_to "詳細", post_path(post.id), data: { turbo: false } %></p>
      <div id="like-btn<%= post.id %>" class="like-btn">
        <%= turbo_frame_tag dom_id(post, :like) do %>
          <% if user_signed_in? && post.liked_by?(current_user) %>
            <%= link_to "いいね済", post_likes_path(post.id), data: { turbo_method: :delete } %>
          <% else %>
            <%= link_to "いいね", post_likes_path(post.id), data: { turbo_method: :post } %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
