<% if @post.video.attached? %>
    <p><%= video_tag(rails_blob_path(@post.video), controls: true, style: "max-width: 500px;") %></p>
  <% end %>
  <p><%= @post.title %></p>
  <p><%= @post.description %></p>
  <p><%= @post.industry.name %></p>
  <p><%= link_to "投稿の編集", edit_post_path(@post.id) %></p>
  <p><%= link_to "投稿の削除", post_path(@post.id), data: { turbo_method: :delete } %></p>