<% if @post.video.attached? %>
  <p><%= video_tag(rails_blob_path(@post.video), controls: true, style: "max-width: 500px;") %></p>
<% end %>
<p><%= @post.title %></p>
<p><%= @post.description %></p>
<p><%= @post.industry.name %></p>
<p><%= link_to "投稿の編集", edit_post_path(@post.id) %></p>
<p><%= link_to "投稿の削除", post_path(@post.id), data: { turbo_method: :delete } %></p>
<div id="like-btn<%= @post.id %>">
  <%= turbo_frame_tag dom_id(@post, :like) do %>
    <% if user_signed_in? && @post.liked_by?(current_user)%>
      <%=link_to "いいね済", post_likes_path(@post.id), data: { turbo_method: :delete } %>
    <% else %>
      <%=link_to "いいね", post_likes_path(@post.id), data: { turbo_method: :post } %>
    <% end %>
  <% end %>
</div>
  <p><%= link_to @post.user.username, user_path %></p>

  <div>
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :content, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "送信" %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% @comments.each do |comment| %>
      <%= comment.user.username %>
      <%= comment.content %>
    <% end %>